.teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  width: 100%;
}

.noTeams {
  display: flex;
}

.shuffleTeams {
  display: grid;
  grid-template-areas: "head head";
  justify-items: center;
  justify-content: space-evenly;
  border: solid 2px white;
  border-radius: 2rem;
  background: url("/assets/grass.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90%;
}

.headItem {
  grid-area: head;
}
