.teams {
  display: flex;
  align-items: center;
  gap: 6rem;
  width: 100%;
}

.noTeams {
  display: flex;
}

.shuffleTeams {
  display: grid;
  grid-template-areas: "head head";
  justify-items: center;
  justify-content: space-evenly;
  border: solid 2px white;
  border-radius: 2rem;
  background: url("/assets/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
}

.headItem {
  grid-area: head;
}

@media (max-width: 1200px) {
  .teams {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .noTeams {
    flex-direction: column;
  }
}
